page-home {

}

.incorrecto {
    color: red;
    border: 1px solid red;
    border-radius: 4px 4px 4px 4px;
}

.correcto {
    color: green;
    border: 1px solid green;
    border-radius: 4px 4px 4px 4px;
}

#icon {
    font-size: 200px;
    color: lightblue;
    align-items: center;
  
}
